body {
    font-family: arial;
}

h1 {
    text-decoration: line-through;
    padding-top: 10px;
    width: 550px;
    text-align: center;
}

.box {
    margin-left: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 600px;
    height: 700px;
    box-shadow: 0 0 5px rgba(0, 0, 0.25);
}

.container,
.todo-display-set {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 200px 200px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-display-set {
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.due-date {
    font-size: 15px;
    padding: 6px;
}

.add-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}

.delete-button {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}